.user-info-container {
    width: 40%;
    height: 100%;
    display: flex;
}

.user-info-item-container {
    width: 20%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-info-item-container {
    width: 40%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-info-item-container {
    width: 40%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 20px;
    height: 24px;
}

.info {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    width: 80%;
    color: seashell;
    padding-left: 10px;
}

@media screen and (max-width: 1000px) {
    .user-info-container {
        display: none;
    }

    .clicked-user-info-container {
        top: 10vw;
        position: absolute;

    }

    .user-info-item-container {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5f5f5f;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    }

    .company-info-item-container {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5f5f5f;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    }

    .project-info-item-container {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5f5f5f;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    }

    .icon {
        width: 20px;
        height: 20px;
    }
    
    .info {
        height: 100%;
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: 300;
        width: 80%;
        color: seashell;
        padding-left: 10px;
    }
}