.header {
    width: 100vw;
    height: 6vw;
    position: fixed;
    background-color: rgb(110, 110, 110);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
/*#5f5f5f;*/

@media screen and (max-width: 1000px) {
    .header {
        width: 100vw;
        height: 10vw;
        position: fixed;
        background-color: #5f5f5f;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
        display: flex;
        justify-content: space-between;
        z-index: 2;
    }
}